[Desktop Entry]
Name=Catfish File Search
Name[es]=Búsqueda de archivos Catfish
GenericName=File search
GenericName[es]=Búsqueda de archivos
Comment=Search the file system
Comment[es]=Buscar en el sistema de archivos
Keywords=files;find;locate;lookup;search;
Keywords[es]=archivos;encontrar;localizar;buscar;búsqueda
Categories=GNOME;GTK;Utility;
Exec=/usr/bin/catfish %f
Icon=/usr/share/pixmaps/catfish-symbolic.png
Terminal=false
Type=Application
MimeType=inode/directory;
StartupWMClass=catfish
X-XFCE-Source=file:///usr/share/applications/org.xfce.Catfish.desktop
Path=
StartupNotify=false
