[Desktop Entry]
Version=1.0
Type=Application
Exec=/usr/bin/milo-session sleep
Icon=system-hibernate
StartupNotify=false
Terminal=false
Categories=System;X-XFCE;X-Xfce-Toplevel;
OnlyShowIn=XFCE;
Name=Sleep
Name[es]=Suspender
Comment=Suspend your computer
Comment[es]=Suspender tu equipo
