[Desktop Entry]
Version=1.0
Type=Application
Exec=/usr/bin/milo-session shutdown
Icon=system-shutdown
StartupNotify=false
Terminal=false
Categories=System;X-XFCE;X-Xfce-Toplevel;
OnlyShowIn=XFCE;
Name=Shut Down
Name[es]=Apagar
Comment=Shut down your computer
Comment[es]=Apagar tu equipo
