[Desktop Entry]
Version=1.0
Type=Application
Exec=/usr/local/bin/sysstats
Icon=sysstats
StartupNotify=true
Terminal=false
Categories=Utility;X-XFCE;X-Xfce-Toplevel;System;
OnlyShowIn=XFCE;
Name=About this computer
Name[es]=Acerca de este equipo
Comment=System information and statistics
Comment[es]=Información y estadísticas del sistema
