[Desktop Entry]
Version=1.0
Type=Application
Name=miloPanel
Name[es]=miloPanel
Comment=miloOS native top panel
Comment[es]=Panel superior nativo de miloOS
Exec=milopanel --replace
Icon=preferences-desktop-panel
Terminal=false
Categories=System;Utility;GTK;
StartupNotify=false
OnlyShowIn=XFCE;
